<?xml version="1.0"?>
<configuration>

  <location path="Manager.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

<location path="images/Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

<location path="css/Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

<location path="fonts/Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

<location path="js/Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
 
<location path="vendor/Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
